.first-page {
/*	background: url("./images/cover3.jpg");
	background-size: cover;
	z-index: -1;
	min-height: 100vh;
	width: 100%;*/
}

.parallax-container {
    min-height: 100vh;
}


#name-header {
	color: white;
	text-align: center;
	margin: 0;
}

.info {
	padding-bottom: 10px;
	color: white;
	text-align: center;
	margin: 0;
}

.icons {
	height: 58px;
}

.icons2 {
	height: 45px;
}

/*.image-icons {
	margin-top: 10px;
}
*/

.bottom1 {
	color: white;
}

.bottom {
	color: white;
	margin: 0;
}


.second-page {
/*	background: url("./images/cover2.jpg");*/
	background-color: #EBFCFB;
	color: black;
	background-size: cover;
	z-index: -1;
	min-height: 100vh;
	width: 100%;
}

.about-me {
	text-align: center;
	padding-top: 50px;
}

.third-page {
	color:black;
	background-color: #B8DBD9;
	background-size: cover;
	min-height: 100vh;
	width: 100%;
}

.contact-page {
	color:black;
	background-color: white;
	background-size: cover;
	min-height: 20vh;
	width: 100%;
}

.projects{
	margin: 0;
}


#arrow {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: black;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    border-radius: 50px;
    opacity: .5;
}

#arrow i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
}

#arrow:hover i {
    top: 5px;
}
