body {
	font-family: 'Raleway', sans-serif;
}

.line {
	margin-top: 0; 
	text-align: center; 
	margin-bottom: 5px; 
	line-height: 0px;
	font-family: sans-serif
}

.first-page {
/*	background: url("./images/cover3.jpg");
	background-size: cover;
	z-index: -1;
	min-height: 100vh;
	width: 100%;*/
}

.parallax-container {
    min-height: 100vh;
}


#name-header {
	padding-top: 50px;
	color: white;
	text-align: center;
	margin: 0;
	font-family: 'Signika', sans-serif;
}

.info {
	padding-bottom: 10px;
	color: white;
	text-align: center;
	margin: 0;
	font-family: 'Signika', sans-serif;
}

.icons {
	height: 58px;
}

.icons2 {
	height: 45px;
}

/*.image-icons {
	margin-top: 10px;
}
*/

.bottom1 {
	color: white;
}

.bottom {
	color: white;
	margin: 0;
}


.second-page {
/*	background: url("./images/cover2.jpg"); #CFD8D7 */
	background-color: white; 
	color: black;
	background-size: cover;
	z-index: -1;
	min-height: 100vh;
	width: 100%;
/*	color: blue;*/
}

.titles {
	margin: 0;
	text-align: center;
	padding-top: 40px;
	margin: 0; font-family: 'Signika', sans-serif;
}

.third-page {
	color:black;
	background-color: #d6dbe0 ; /* #d6dbe0 */
	background-size: cover;
	min-height: 100vh;
	width: 100%;
}

.contact-page {
	color:black;
	background-color: white;
	background-size: cover;
	min-height: 20vh;
	width: 100%;
}

.projects{
	margin: 0;
}


#arrow {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: black;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    border-radius: 50px;
    opacity: .5;
}

#arrow i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
}

#arrow:hover i {
    top: 5px;
}
